.dashboard-container {
  display: flex;
  justify-content: center;
  .dashboard-components {
    margin: 2rem;
  }
  .profile-section {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    div {
      margin: 0.5rem 0;
    }
  }
}
